<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h4>Tämä sivu on ehkä se, jolla drinkkien pitäis olla luetteloituna.</h4>

        <ol>
            <li th:each="drinkki: ${drinkit}">
                <span th:text="${drinkki.nimi}">drinkin nimi</span> <a th:href="${'/drinkit/' + drinkki.id}">linkki</a>
            </li>
        </ol>
        
    </body>
</html>