<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>DRINKKEJÄ!</h1>
        <ul>
             <li>
                <a href="/drinkit">Drinkit</a>
            </li>
            <li>
                <a href="/lisays">Luo uusi drinkki</a>
            </li>
            <li>
                <a href="/ainekset">Tarkastele ja lisää aineksia</a>
            </li>
        </ul>
        
        
        

        
    </body>
</html>